BR2_x86_64=y
BR2_OPTIMIZE_2=y
BR2_SSP_ALL=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="cargos"
BR2_KERNEL_HEADERS_4_1=y
BR2_ENABLE_LOCALE_PURGE=y
BR2_ENABLE_LOCALE_WHITELIST="C en_US"
BR2_TARGET_GENERIC_HOSTNAME="parcel.localdomain"
BR2_TARGET_GENERIC_ISSUE="Welcome to Parcel-$(BR2_VERSION)!"
BR2_TARGET_GENERIC_PASSWD_SHA256=y
BR2_ROOTFS_DEVICE_CREATION_STATIC=y
BR2_ROOTFS_DEVICE_TABLE="system/device_table_parcel.txt"
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="system/skeleton-parcel"
BR2_PACKAGE_BUSYBOX_CONFIG="package/busybox/busybox-parcel.config"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_ROOTFS_DOCKER=y
